
:root{
    --main-content:99vh;
    --header-height:10vh;
    --footer-height:5vh;
    --content-height:84vh;
    --primary-background:#F0EAD2;
    --secondary-background:#DDE5B6;
    --primary-color:#ADC178;
    --secondary-color:#A98467;
    --secondary-color-background:#6C584C;

}







